{% extends "yt_downloader/base.html" %}

{% block title %}YouTube Downloader | {{ title }}{% endblock %}

{% block content %}
    <h1>Download: {{ title }}</h1>
    <img src="{{ thumbnail_url }}", alt="thumbnail url">
    <ul>
        {% for itag, description in choices %}
            <li>
                {{ description }}
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="itag" value="{{ itag }}">
                    <button type="submit">Download</button>
                </form>
            </li>
            {% endfor %}
    </ul>
{% endblock %}
